/*
Have margin around the logo which is equivalent to 30% of the logo's height.

PRIMARY COLORS:
General font color => #
Emphasis font color => 
Main background color => 

ACCENT COLORS:
General font color => 
General font color => 
General font color => 
*/

.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 60px;
    opacity: 0.8;
}

.headerText {
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 80px;
    opacity: 1;
}

.headerNote {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 30px;
    opacity: 1;
}